<section id='referenzen'>
    <h2>Referenzen</h2>
    <article> 
        <img src='/images/dina-meyer.jpg' alt='Tina Ubuntu'>
        <p><cite>Tina Ubuntu<br>CEO headless Ltd.</cite></p>
        <blockquote>
            <p>Alex‘ Redesign hat maßgeblich mitgeholfen, unseren Umsatz um 20% in die Höhe zu treiben!</p>
        </blockquote>
    </article>
    <article>
        <img src='/images/thomas-meyer.jpg' alt='Tom Herzog'>
        <p><cite>Tom Herzog<br>Cutter's Finest</cite></p>
        <blockquote>
            <p>Große Webkunst – keine Kunst mit Alex Mayer!</p>
        </blockquote>
    </article>
    <article>
        <img src='/images/vorstand.jpg' alt='Vorstand Müller AG'>
        <p><cite>Vorstand Müller AG<br>KR Ernst Anker, Dr. Florian Eisner</cite></p>
        <blockquote>
            <p>Das Store-Konzept von Alex Mayer hat unsere größten Erwartungen übertroffen.</p>
        </blockquote>
    </article>
    <div class='bluebox'></div>
</section>